RNWindows/ios/*
RNWindows/android/*
RNWindows/.yarn/*
RNWindows/node_modules/*
RNWindows/web/*
RNWindows/.expo/*
react-native-app-with-module/node_modules/*
react-native-native-module-sample/node_modules/*
react-native-native-module-sample/android/*
react-native-native-module-sample/ios/*